body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style-type: none
}

/**
 *  Chat
 **/

.message-box {
  border-radius: 10em;
  padding: 2em; 
  margin-bottom: .5em;
  transition: background-color 100s;
  transition: border-radius 3s;
  color:black
}

li:last-child .me {
  border-radius: 10em 10em 10em 1em;
}

li:last-child .other {
  border-radius: 10em 10em 1em 10em;
}

.me {
  background-color: #5F98F4;
}

.other {
  background-color: #95f78a;
}

/**
 *  Login and Registration
 **/

body, html {
    height: 100%;
    background-repeat: no-repeat;
background: rgb(185,210,224); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(185,210,224,1) 0%, rgba(187,214,228,1) 0%, rgba(186,211,225,1) 15%, rgba(186,211,225,1) 38%, rgba(169,199,215,1) 68%, rgba(169,199,215,1) 68%, rgba(169,199,215,1) 82%, rgba(158,191,208,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(185,210,224,1) 0%,rgba(187,214,228,1) 0%,rgba(186,211,225,1) 15%,rgba(186,211,225,1) 38%,rgba(169,199,215,1) 68%,rgba(169,199,215,1) 68%,rgba(169,199,215,1) 82%,rgba(158,191,208,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(185,210,224,1) 0%,rgba(187,214,228,1) 0%,rgba(186,211,225,1) 15%,rgba(186,211,225,1) 38%,rgba(169,199,215,1) 68%,rgba(169,199,215,1) 68%,rgba(169,199,215,1) 82%,rgba(158,191,208,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9d2e0', endColorstr='#9ebfd0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.text-box{
    background:#f7f7f7;
    border:3px solid #F4F4F4;
    padding-left: 15px;
    margin-bottom:25px;
    height: 44px;
    font-size: 16px;
    width: 100%
    }

.input_title{
    color:rgba(164, 164, 164, 0.9);
    padding-left:3px;
        margin-bottom: 2px;
    }

hr{
    width:100%;
}
    
.welcome{
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 100;
    color:#FFFFFF;
    margin-bottom:25px;
    margin-top:50px;

}

.card-title{
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 100;
    color:rgba(164, 164, 164, 0.44);
}

.card-container.card {
    max-width: 350px;
}

.info-message {
    max-width: 350px;
    display: block;
    margin: 0 auto;
}

.form-fill .btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    border-radius:0;
    background:#43A6EB;
    height: 55px;
    margin-bottom:10px;
}

/*
 * Card component
 */
.card {
    background-color: #FFFFFF;
    /* just in case there no content*/
    padding: 25px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 15%x;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-fill #inputEmail,
.form-fill #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-fill input[type=email],
.form-fill input[type=password],
.form-fill input[type=text],
.form-fill button {
    width: 100%;
    display: block;

    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-fill .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-fill {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-fill:hover,
.btn.btn-fill:active,
.btn.btn-fill:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}

.article-container img {
  max-width: 30em;
}

.article-container .row {
  margin: 2em 0em;
}

.article-container a,
.article-container a:hover,
.article-container a:visited {
  color: black
}

.article-container .btn {
  margin-right: 0.5em
}

.lastMessage {
  height: 0;
}

.search-wrapper {
    width: 100%;
}

.search-articles {
    border-radius: 0em;
    margin: 0 auto;
    display: block;
    text-align: center
}

.fill-box {
    height: 44px;
    font-size: 16px;
    width: 100%
}

.car-image {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.outputs{padding:50px;}
.outputs .panel{}
.outputs .panel .panel-body{margin:0px; padding:5px;}
.outputs .panel .description{margin-top:5px;}
.outputs .panel .description .alert{margin:0 0 5px 0;padding:8px;}
.outputs .panel .output-box{ 
    padding: 5px;
    border-radius: 5px;
}
.outputs .panel .output-box.bg-default{  background-color: #F0F0F0;}
.outputs .panel .output-box.bg-danger .glyphicon{ color: #a94442;;}
.outputs .panel .output-box h4{ margin:0px; padding:0px; line-height: 34px; padding-left:5px;}
.outputs .panel .output-box.bg-default h4{color:#999999;}

.small-panel { 
    width: 350px; 
    display: block;
    margin: 0 auto;
}

.row a {
    text-decoration: none;
    color: black
}

.centered-text {
    display: block;
    margin: 0 auto;
}

/*Single article */
/* body {
    background: -webkit-linear-gradient(315deg, #0b8395, #0fadc4);
    background: linear-gradient(135deg, #0b8395, #0fadc4);
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column wrap;
        flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Montserrat', sans-serif;
    position: relative;
  } */
/*   
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
  }
  
  a {
    text-decoration: none;
    text-transform: uppercase;
  }
  
  h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.1);
    font-size: 35vmin;
  } */
  
  .single-article-card {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
    margin: 20px;
    width: 1000px;
    display: block;
    margin: 0 auto;
  }
  .single-article-card header {
    position: relative;
  }
  .single-article-card header img {
    display: block;
    width: 100%;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .single-article-card header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(black 0%, rgba(0, 0, 0, 0.917) 5.3%, rgba(0, 0, 0, 0.834) 10.6%, rgba(0, 0, 0, 0.753) 15.9%, rgba(0, 0, 0, 0.672) 21.3%, rgba(0, 0, 0, 0.591) 26.8%, rgba(0, 0, 0, 0.511) 32.5%, rgba(0, 0, 0, 0.433) 38.4%, rgba(0, 0, 0, 0.357) 44.5%, rgba(0, 0, 0, 0.283) 50.9%, rgba(0, 0, 0, 0.213) 57.7%, rgba(0, 0, 0, 0.147) 65%, rgba(0, 0, 0, 0.089) 72.9%, rgba(0, 0, 0, 0.042) 81.4%, rgba(0, 0, 0, 0.011) 90.6%, transparent 100%);
    background: linear-gradient(black 0%, rgba(0, 0, 0, 0.917) 5.3%, rgba(0, 0, 0, 0.834) 10.6%, rgba(0, 0, 0, 0.753) 15.9%, rgba(0, 0, 0, 0.672) 21.3%, rgba(0, 0, 0, 0.591) 26.8%, rgba(0, 0, 0, 0.511) 32.5%, rgba(0, 0, 0, 0.433) 38.4%, rgba(0, 0, 0, 0.357) 44.5%, rgba(0, 0, 0, 0.283) 50.9%, rgba(0, 0, 0, 0.213) 57.7%, rgba(0, 0, 0, 0.147) 65%, rgba(0, 0, 0, 0.089) 72.9%, rgba(0, 0, 0, 0.042) 81.4%, rgba(0, 0, 0, 0.011) 90.6%, transparent 100%);
  }
  .single-article-card header .text-wrap {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
  }
  .single-article-card header .text-wrap h2 {
    font-size: 3.5rem;
    margin-top: 20px;
  }
  .single-article-card header .text-wrap h3 {
    margin-top: 5px;
    font-weight: 100;
  }
  .single-article-card main {
    min-height: 150px;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .single-article-card main .cta-wrap {
    background: #3882CF;
    color: white;
    padding: 10px;
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .single-article-card main .cta-wrap svg {
    height: 40px;
    fill: white;
  }
  .single-article-card main .cta-wrap span {
    margin-top: 10px;
  }
  .single-article-card main .info-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column wrap;
        flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 20px;
  }
  .single-article-card main .info-wrap h4 {
    font-size: 1.45rem;
    color: #3a3a3a;
  }
  .single-article-card main .info-wrap p {
    margin-top: .75rem;
    color: #7f8c8d;
  }

  /*chat*/
  .scroller-wrap {
    max-height: 500px
  }
  .scroller {
      max-height: 500px;
      overflow-y: auto;
  }